.conteiner {
    display: flex;
    justify-content: space-around;
    margin-top: -9px;
    height: 5000px;
    background-color: aqua;
    width: 1250px;
}

.conteiner_alinhamento{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.foto {
    border-radius: 20%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.conteiner_labels {
    position: relative;
    width: 1250;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.segunda_label {
    transform: translate(0, 9%);
}

.conteiner_buttonCurso {
    width: 150px;
    height: 45px;
    background-color: rgb(65, 64, 64);
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    overflow: hidden;
    transition-duration: .5s;
    margin-left: auto;
    margin-right: auto;
  }
  
  .texto {
    color: aqua;
    font-weight: 800;
    letter-spacing: 1.1px;
    z-index: 2;
  }
  
  .conteiner_buttonCurso:hover {
    color: rgb(230, 255, 193);
  }
  
  .efeito {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: aqua;
    border-radius: 0%;
    z-index: 1;
    opacity: 0;
    transition-duration: 1.0s;
  }
  
  .conteiner_buttonCurso:hover .efeito {
    transform: scale(20);
    transform-origin: center;
    opacity: 1;
    transition-duration: 1s;
    border-radius: none;
  }
  
  .conteiner_buttonCurso:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.500),
    0px 0px 10px rgba(0, 0, 0, 0.500),
    0px 0px 30px rgba(0, 0, 0, 0.500);
    transition-duration: .7s;
  }
  
  .conteiner_buttonCurso:hover .texto {
    color: rgb(65, 64, 64);
  }
  
  .conteiner_buttonCurso:hover{
    fill: rgb(65, 64, 64);
  }

.informacoesGerais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    height: 0 auto;
}

.informacoesGerais::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -115%;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background-color: black;
    z-index: -1;
}

.informacoesGerais_colounas {
    display: flex;
    flex-direction: column;
    bottom: 4em;
}

.informacoesGerais_colounas_bloco {
    display: flex;
    flex-direction: column;
    bottom: 2em;
    width: 600px;
    height: 400px;
    border-bottom: 1px solid black;
}

.informacoesGerais_colounas_bloco2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 2em;
    width: 600px;
    height: 400px;
    border-bottom: 1px solid black;
}

.titulo {
    transform: translate(20%);
}

.niveis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bolinha {
    width: 20px;
    height: 20px;
    background-color: #010058;
    border-radius: 50%;
    transform: translate(0, 110%);
}

.ajusteBolinhas {
    display: flex;
    flex-direction: row;
}

.MaisMenosInformacao {
    display: flex;
    justify-content: center;
}

.MaisMenosInformacao_botao1 {
    position: relative;
    background-color: transparent;
    color: #e8e8e8;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.MaisMenosInformacao_botao1::before {
    content: url(./imagens/seta.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(135deg, aqua, aqua);
    transform: translate(0%, 90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.MaisMenosInformacao_botao1::after {
    content: "Mostrar Menos";
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%, -100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.MaisMenosInformacao_botao1:hover::before {
    transform: translate(0%, 0%);
}

.MaisMenosInformacao_botao1:hover::after {
    transform: translate(0%, -200%);
}

.MaisMenosInformacao_botao1:focus {
    outline: none;
}

.MaisMenosInformacao_botao1:active {
    scale: 0.95;
}

.MaisMenosInformacao_botao2 {
    position: relative;
    background-color: transparent;
    color: #e8e8e8;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.MaisMenosInformacao_botao2::before {
    content: url(./imagens/setaInvertida.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(135deg, aqua, aqua);
    transform: translate(0%, -90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.MaisMenosInformacao_botao2::after {
    content: "Mostrar Mais";
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%, -100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.MaisMenosInformacao_botao2:hover::before {
    transform: translate(0%, 0%);
}

.MaisMenosInformacao_botao2:hover::after {
    transform: translate(0%, 0%);
}

.MaisMenosInformacao_botao2:focus {
    outline: none;
}

.MaisMenosInformacao_botao2:active {
    scale: 0.95;
}